.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
}

.my--20{
    margin: 20px 0;
}

.mx--auto{
    margin: 0 auto;
}

.mx--20{
    margin: 0 20px;
}

.bg--blue{
    background-color: #0000ff;
}
